.full-height {
  height: 15em;
}

.card {
  margin: 0;
}
.group {
  /*height: 10em;*/
}

.groupImg{
  height: 11em;
  background-size: contain;
}
.floatingGroup{
  position: absolute;
  top: 3em;
  left:30%;
}

.tabs .indicator{
  background-color: #0D47A1;
}

.currency{
  font-size: 20px;
}
